<div ...attributes>
  <pre>    model.firstName = {{this.model.firstName}}</pre>
  <pre>changeset.firstName = {{this.changeset.firstName}}</pre>
  <pre>            isDirty = {{this.changeset.isDirty}}</pre>
  <Input @value={{this.changeset.firstName}} />
</div>
